<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Home</title>
  </head>
  <body>
    <p>Welcome </p>
    <p th:text="${message}">Message</p>
    <p th:text="#{app.title}">App Title</p>
    <p th:text="#{app.version}">App Version</p>
  </body>
</html>