<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>User List</title>
  </head>
  <body>
    <p>User list:</p>
    <div th:each="user: ${users}">
      <span th:text="${user.name}">user.name</span>
      -
      <span th:text="${user.email}">user.email</span>
    </div>
  </body>
</html>